<p id="notice"><%= notice %></p>

<div class="center-block" style="width: 50%">
<table class="table">
<tr>
  <th>First name:</th>
  <td><%= @volunteer.first_name %></td>
</tr>

<tr>
  <th>Last name:</th>
  <td><%= @volunteer.last_name %></td>
</tr>

<tr>
  <th>Contact number:</th>
  <td><%= @volunteer.contact_number %></td>
</tr>

<tr>
  <th>Notes:</th>
  <td><%= @volunteer.notes %></td>
</tr>

<tr>
 	<th>Choosen time slots:</th>
 	<td>
 	<ul>
 	<% @volunteer.blocks.each do |block| %>
 		<li><%= format_block(block) %></li>
 	<% end %>
 	</ul>
 	</td>
 </tr>
</table>

<div class="text-center">
<%= link_to 'Edit ' + @volunteer.first_name + '\'s Schedule', edit_volunteer_path(@volunteer), :class => 'btn btn-default' %> 
<%= link_to 'Back to All Volunteers', volunteers_path, :class => 'btn btn-default' %>
</div>

</div>
